<header class="site-header">
  <div class="container txt-center">
    <nav class="navbar">
      <ul>
        <li><a href="{{ "/" | prepend: site.baseurl }}">home</a></li>
        <li class="divider">&bull;</li>
        <li><a href="{{ "/about" | prepend: site.baseurl }}">about</a></li>
        <li class="divider">&bull;</li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="icon icon-feed"></i> feed</a></li>
      </ul>
    </nav>

    <a href="{{ "/" | prepend: site.baseurl }}" class="author-thumb">
      <img src="{{ "/images/author.jpg" | prepend: site.baseurl }}" alt="Author thumbnail" class="dot">
    </a>
    <h1>Hi, I'm Ryan Currie <small>and I'm a tech enthusiast located in sunny San Diego</small></h1>

    <nav class="navbar">
      <ul>
      <li><span class="navbar-text">Topics</small></li>
      <li class="divider">&#133;</li>
      {% for tag in site.categories %}
        <li><a href="{{ "/categories/#" | prepend: site.baseurl | append: tag[0] }}">{{ tag[0] | lowercase }}</a></li>
        <li class="divider">,</li>
      {% endfor %}

      <li><a href="{{ "/" | prepend: site.baseurl }}">view all...</a></li>
      </ul>
    </nav>
    <hr class="hr">

  </div>

</header>
